@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  background: #F4F4F2;
  color: #0D0D0D;
}

.font-display {
  font-family: 'Bebas Neue', sans-serif;
}

.font-mono {
  font-family: 'DM Mono', monospace;
}

/* Leaflet popup — remove white background */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}
.leaflet-popup-content {
  margin: 0 !important;
}
.leaflet-container {
  border-radius: 0 18px 18px 0;
}
