@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  background: #F4F4F2;
  color: #0D0D0D;
}

.font-display {
  font-family: 'Bebas Neue', sans-serif;
}

.font-mono {
  font-family: 'DM Mono', monospace;
}
